#der_nagel{ position:absolute;
	    left:0px;
	    top:0px;  
	    width:0px;
	    height:0px;}

#layer_image{	position:absolute;
		z-index:1;
		left:0px;
		top:0px;}       

#layer_navigation{  position:absolute;
		    z-index:2;
		    left:4px;
		    top:4px;}

#navigation_circle{ position: absolute;
		    left:4px;
		    top:4px;
		    width:72px;
		    height:72px;}

#offset_right{	position: absolute;
		left:44px;
		top:24px;
		width:32px;
		height:32px;}
		
#offset_left{	position: absolute;
		left:4px;
		top:24px;
		width:32px;
		height:32px;}

#offset_down{	position: absolute;
		left:24px;
		top:44px;
		width:32px;
		height:32px;}

#offset_up{	position: absolute;
		left:24px;
		top:4px;
		width:32px;
		height:32px;}
#zoom_navigation{   position:absolute;
		    left:-26px;
		    top:160px;}
#zoom_slider{	position:absolute;
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg)}

#zoom_in{   position:absolute;
	    left:52px;
	    top:-70px;
	    width:25px;
	    height:20px;}

#zoom_out{   position:absolute;
	    left:52px;
	    top:70px;
	    width:25px;
	    height:20px;}

#change_size{	display:none;}

#color_pickers{	display:none;}
	    
#layer_customize_box{	position:absolute;
			right:100px;
			top: 50px;
			z-index:2;
			border-style:solid;
			border-width:1px;
			width:200px;
			background-color:#dddddd;
			padding:3px;

			}
		
.color { width:5em;}	

