<!-- page 43 for forms -->

<!--main page for Mandelbrotserver-->
<!--any text containing $ destined for the use as template in python with string.Template-->
{% load staticfiles %}
<html>
<head>
    <title>Mandelbrot</title>
    <script type="text/javascript" src="{% static 'javascript/MbMainHelpers.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/jscolor.js'%}"></script>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'navigate/main.css' %}" />

<!-- Mandelbrot image and corresponding offset arrows-->
    <div    id="der_nagel">

    <div    id="layer_image">
        <form   action="zoom_offset" 

        method="get">
                <input 
                type="image" 
            name="zoom_offset"
                src="{% static 'navigate/images/Mandelbrot.png'%}" 
            title='click for zoom' 
                alt='Mandelbrot' 
            opacity='0.8'
                border="0"
            onsubmit="javascript:MBMAINHELPERS.calculatingImageEffect(document.getElementById('layer_image'),document.getElementById('progress_bar'))">
            <!--TODO form submit cancels the effect-->
        </form>
    </div>

    <div    id="layer_navigation">
    <img
        id="navigation_circle" 
        type="image"
        title="circle"
        alt="circle"
            src="{% static 'navigate/images/circle.png'%}"
            border="0"          
            >

    <form   action="offset_right"
        method=get>
        <input
        id="offset_right"
        type="image"
        name="offset_right"
        title="move right"
        alt="move graphic to the right"
        src="{% static 'navigate/images/arrow_right.png'%}"
        border="0"      
        >
    </form>

    <form  action="offset_left"
        method=get>
            <input
        id="offset_left"
                type="image"
        name="offset_left"
                title="move left"
                alt="move graphic to the left"
                src="{% static 'navigate/images/arrow_left.png'%}"
                border="0"          
            >
    </form>
    

    <form   action="offset_down"
            method=get>
            <input
        id="offset_down"
                type="image"
        name="offset_down"
                title="move down"
                alt="move graphic down"
                src="{% static 'navigate/images/arrow_down.png'%}"
                border="0"          
            >
    </form>

     <form   action="offset_up"
         method=get>
    <input
        id="offset_up"
        type="image"
        name="offset_up"
        title="move up"
            alt="move graphic up"
        src="{% static 'navigate/images/arrow_up.png'%}"
            border="0"          
        >
    </form>

    <!--slider and zoombuttons-->
    <div id="zoom_navigation">
    <form   action="zoom"
        method=get>
        <input  id="zoom_slider"
            type="range"
            name="z"
            title="zoom"
            alt="choose the zoomfactor"
            min="0"
            max="100"
            value="50"
            step="10"
            onMouseUp="submit()"/>

    </form>

    <button id="zoom_in"
        onClick="window.location='/zoom_in'"
        value=""
        class="button add_button">
    
    </button>
    <button id="zoom_out"
        onClick="window.location='/zoom_out'"
        value=""
        class="button minus_button">            
    
    </button>
    </div>
    </div>
</div>

<!--progress bar and greying out effect-->
<progress   
    id="progress_bar"
    value="22"
    max="100"
    text="Calculating new image">
    Progress: 22% done.
    </progress>


<!--customize box-->
<div    id="layer_customize_box">
    <!--change size form-->
    <div    class= "dropDownContent"
        onclick= "javascript:MBMAINHELPERS.hideShowBlock(document.getElementById('change_size'))"
        title="show sizing options">
    <h3>
        <span>
        pick the size
        </span>
        <span>
        <img    src="{% static 'navigate/images/arrow_down.png'%}"
            class="dropDownArrow" />
        </span>
    </h3>
    </div>
    <form   action="change_size"
        name="change_size"
        onSubmit="javascript:return MBMAINHELPERS.validateSizeInput(document.getElementById('change_size'))"
        method="get"
        id="change_size">
        Size:
        <input  id="imagewidth"
            class="button inputfield"
            type="text"
            name="pxwidth"
            title="pxwidth"
            alt="pixel width"
            maxlength=5
            size=5>  x 
        <input  id="imageheight"
            class="button inputfield"
            type="text"
            name="pxheight"
            title="pxheight"
            alt="pixel height"
            maxlength=5
            size=5>px
        <br/>
        <input  id="submit_change_size"
            class="button text_button"
            type="submit"
            value="change size">
    </form>
    <!--change the colors-->
    <hr />
    <br />
    <div    class="dropDownContent"
        onclick="javascript:MBMAINHELPERS.hideShowBlock(document.getElementById('color_pickers'))"
        title="show coloring options">
    <h3>
        <span>
        pick the colors
        </span>
        <span> 
        <img    src="{% static 'navigate/images/arrow_down.png'%}"
            class="dropDownArrow" />
        
        </span>
    </h3>
    </div>
    <div    id="color_pickers">
    <form   action="/change_color"
        id="color_pickers_form"
        onSubmit="javascript: return MBMAINHELPERS.validateColorInput(document.getElementById('color_pickers_form'))"
        method=get>

        <button  onclick="javascript:MBMAINHELPERS.resetColors()" 
            class="button text_button"
            type="reset"
            title="reset to the original colorscheme">
        reset
        </button>

        <input  type="submit"
            class="button text_button"
            title="calculate new image with new colorscheme"
            value="commit changes">
        <br/>
    
         <div class ="color_block">
        <input  
            class="button color"        
            id="first_color"
            name="col"
            value="66ff66"

            title="click to choose color">
        <br/>
        </div>
        <button onclick="javascript:MBMAINHELPERS.rotateColors()" 
            type="button"
            class="button"
            id="rotate_button"
            title="rotate the order of the colors"
            value=" "> 
        </button>

        <div id="color_pickers_form_secondary_colors">
        <div class="color_block">
        <button  onclick="javascript:MBMAINHELPERS.addColor(this.parentNode)" 
            class="button add_button"
            type="button"
            value=""
            title="add a color below">
        </button>
        <input  class="button color"
            value="66ff01"
            name="col"
            title="click to choose color">
        <button  onclick="javascript:MBMAINHELPERS.removeColor(this.parentNode)"
            class="button remove_button"
            type="button"
            value=""
            title="remove this color">
        </button>
        
        <br/>
        </div>
        </div>
        </br> <!--needed as last child node-->
    </form>    
    </div>    
    <hr />
    <!--save button-->
    <br />
    <div>    
        <h3>
        save
        </h3>
    <button onClick="window.location='/save'"  
        title="download image parameter"
        class="button text_button">
        Download
    </button>
    </div>
    <br/>
    <hr/>
    <div>
        <h3>
        other
        </h3>
        Iteration:
        <form   action="change_iteration"
            onsubmit="javascript:return MBMAINHELPERS.validateIterationInput(document.getElementById('change_iteration'))"
            id="change_iteration"
            method=get>
        <input  id="iteration"
            class="button inputfield"
            type="text"
            name="iter"
            alt="choose number of iterations"
            size=2>
        </form>
    </div>
<!--TODO label css for positioning, mako research, -->

    </div>
 

<div/>

</body>
</html>

