<!-- page 43 for forms -->

<!--main page for Mandelbrotserver-->
<!--any text containing $ destined for the use as template in python with string.Template-->
{% load staticfiles %}
<html>
<head>
    <title>Mandelbrot</title>
    <script type="text/javascript" src="{% static 'navigate/javascript/MbMainHelpers.js'%}"></script>
    <script type="text/javascript" src="{% static 'navigate/javascript/jscolor.js'%}"></script>
</head>

<body>
<link rel="stylesheet" type="text/css" href="{% static 'navigate/main.css' %}" />

<!-- Mandelbrot image and corresponding offset arrows-->
<div id="der_nagel">
<div id="layer_image">
    <form method="post">
        <input type="image"    
            name="zoom_offset"
            src="{% static 'navigate/images/'|add:imageName %}" 
            title='click for zoom' 
            alt='Mandelbrot' />
        <!-- use to avoid cross site request forgeries -->
        {% csrf_token %}
    </form>
</div>

<div id="layer_navigation">
    <img id="navigation_circle" 
        type="image"
        title="circle"
        alt="circle"
        src="{% static 'navigate/images/circle.png'%}"
        border="0">

    <form method="post">
        <input id="offset_right"
            name="offset_right"
            type="image"
            title="move right"
            alt="move graphic to the right"
            src="{% static 'navigate/images/arrow_right.png'%}"
            border="0">
        {% csrf_token %}
    </form>

    <form method="post">
        <input id="offset_left"
            type="image"
            name="offset_left"
            title="move left"
            alt="move graphic to the left"
            src="{% static 'navigate/images/arrow_left.png'%}"
            border="0">
        {% csrf_token %}
    </form>
    

    <form method="post">
        <input
            id="offset_down"
            type="image"
            name="offset_down"
            title="move down"
            alt="move graphic down"
            src="{% static 'navigate/images/arrow_down.png'%}"
            border="0">
        {% csrf_token %}
    </form>

    <form method="post">
        <input id="offset_up"
            type="image"
            name="offset_up"
            title="move up"
            alt="move graphic up"
            src="{% static 'navigate/images/arrow_up.png'%}"
            border="0">
        {% csrf_token %}
    </form>

    <!--slider and zoombuttons-->
    <div id="zoom_navigation">
    <form method="post">
        <input id="zoom_slider"
            type="range"
            name="z"
            title="zoom"
            alt="choose the zoomfactor"
            min="0"
            max="10"
            value="5"
            step="1"
            onMouseUp="submit()"/>
        {% csrf_token %}
    </form>

    <form method="post">        
        <input id="zoom_in"
            type="submit"
            name="zoom_in"
            value=""
            class="button add_button">
        {% csrf_token %}
    </form>

    <form method="post">        
        <input id="zoom_out"
            type="submit"
            name="zoom_out"
            value=""
            class="button minus_button">            
        {% csrf_token %}
    </form>
    
</div>
</div>
</div>

<!--progress bar and greying out effect-->
<!-- <progress   
    id="progress_bar"
    value="22"
    max="100"
    text="Calculating new image">
    Progress: 22% done.
    </progress> -->


<!--customize box-->
<div    id="layer_customize_box">
    <!--change size form-->
    <div    class= "dropDownContent"
        onclick= "javascript:MBMAINHELPERS.hideShowBlock(document.getElementById('change_size'))"
        title="show sizing options">
    <h3>
        <span>
        pick the size
        </span>
        <span>
        <img    src="{% static 'navigate/images/arrow_down.png'%}"
            class="dropDownArrow" />
        </span>
    </h3>
    </div>
    <form method="post" 
        id="change_size"
        name="change_size"
        onSubmit="javascript:return MBMAINHELPERS.validateSizeInput(document.getElementById('change_size'))">
        Size:
        <input id="imagewidth"
            class="button inputfield"
            type="text"
            name="pxwidth"
            title="pxwidth"
            alt="pixel width"
            maxlength=5
            size=5>  x 
        <input  id="imageheight"
            class="button inputfield"
            type="text"
            name="pxheight"
            title="pxheight"
            alt="pixel height"
            maxlength=5
            size=5>px
        <br/>
        <input  id="submit_change_size"
            class="button text_button"
            type="submit"
            value="change size">
        {% csrf_token %}
    </form>
    <!--change the colors-->
    <hr />
    <div    class="dropDownContent"
        onclick="javascript:MBMAINHELPERS.hideShowBlock(document.getElementById('color_pickers'))"
        title="show coloring options">
    <h3>
        <span>
        pick the colors
        </span>
        <span> 
        <img    src="{% static 'navigate/images/arrow_down.png'%}"
            class="dropDownArrow" />
        
        </span>
    </h3>
    </div>
    <div    id="color_pickers">
    <form method="post" 
        id="color_pickers_form"
        onSubmit="javascript: return MBMAINHELPERS.validateColorInput(document.getElementById('color_pickers_form'))">

        <button  onclick="javascript:MBMAINHELPERS.resetColors()" 
            class="button text_button"
            type="reset"
            title="reset to the original colorscheme">
        reset
        </button>

        <input  type="submit"
            class="button text_button"
            title="calculate new image with new colorscheme"
            value="commit changes">
        <br/>
    
         <div class ="color_block">
        <input  
            class="button color"        
            id="first_color"
            name="col"
            value="66ff66"

            title="click to choose color">
        <br/>
        </div>
        <button onclick="javascript:MBMAINHELPERS.rotateColors()" 
            type="button"
            class="button"
            id="rotate_button"
            title="rotate the order of the colors"
            value=" "> 
        </button>

        <div id="color_pickers_form_secondary_colors">
        <div class="color_block">
        <button  onclick="javascript:MBMAINHELPERS.addColor(this.parentNode)" 
            class="button add_button"
            type="button"
            value=""
            title="add a color below">
        </button>
        <input  class="button color"
            value="66ff01"
            name="col"
            title="click to choose color">
        <button  onclick="javascript:MBMAINHELPERS.removeColor(this.parentNode)"
            class="button remove_button"
            type="button"
            value=""
            title="remove this color">
        </button>
        
        <br/>
        </div>
        </div>
        </br> <!--needed as last child node-->
        {% csrf_token %}
    </form>    
    </div>    
    <hr />
    <!--save button-->
<!--     <br />
    <div>    
        <h3>
        save
        </h3>
    <button onClick="window.location='/save'"  
        title="download image parameter"
        class="button text_button">
        Download
    </button>
    </div>
    <br/>
    <hr/>
    <div> -->
        <div    class="dropDownContent"
        onclick="javascript:MBMAINHELPERS.hideShowBlock(document.getElementById('change_iteration'))"
        title="show coloring options">
        <h3>
            <span>pick the iterations </span>
            <span> <img    src="{% static 'navigate/images/arrow_down.png'%}"
                            class="dropDownArrow" /></span>
        </h3>
        </div>
        <form  method="post"
            onsubmit="javascript:return MBMAINHELPERS.validateIterationInput(document.getElementById('change_iteration'))"
            id="change_iteration">
            Iterations:
            <input  id="iteration"
                class="button inputfield"
                type="text"
                name="iter"
                alt="choose number of iterations"
                size=2>
            {% csrf_token %}
        </form>
    </div>
<!--TODO label css for positioning, mako research, -->

    </div>
 

<div/>

</body>
</html>

